@import url('https://fonts.googleapis.com/css?family=Muli|Playfair+Display');
//Reset
*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: Muli, sans-serif

html
  font-size: 16px

img
  width: 100%

body
  min-width: 320px
  background-color: #F5F6F6//#F8F5FF

//mixins
=center-content
  max-width: 980px

$primary-color: #96C1CF
$second-color: #43cea2
$hover-color: #ED184C
$text-color: #333
$title-color: #ED184C

.menu
  width: 100vw
  height: 60px
  position: fixed
  top: 0
  left: 0
  background-color: #F5F6F6
  border-bottom: 1px solid #eee
  z-index: 999

  .menu-fixed
    max-width: 980px
    height: 100%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 15px

    .menu-logo
      font-size: 1.8em
      font-family: Muli, sans-serif
      font-weight: bold
      color: $title-color

    .menu-lg
      margin-right: 20px 
      ul
        list-style: none
        margin-top: 0px

        li
          display: inline-block
          padding: 5px 10px
          transform: skewx(-20deg)
          background-color: $primary-color
          transition: background-color 0.2s ease-out
          
          &:hover
            background-color: $hover-color
            
            a
              font-weight: 600

          a
            font-family: 'Playfair Display', serif
            font-weight: 600
            text-decoration: none
            color: white
            transform: skewX(20deg)
            display: block


    .menu-hamb
      flex-direction: column
      justify-content: space-between
      align-content: center
      height: 15px
      width: 22px

      div
        width: 100%
        height: 2px
        background-color: $hover-color

//Menu Mobile
.menu-mobile
  background-color: $second-color
  height: 100vh
  min-width: 200px
  width: 85%
  position: fixed
  z-index: 998
  right: -2000px
  top: 0
  padding-top: 60px
  padding-left: 20px
  padding-right: 20px
  color: white
  display: none
  transition: all 0.5s

  .close
    background: white
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    padding: 10px
    margin: 0 auto
    margin-top: 30px
    font-size: 20px

    a
    text-decoration: none
    


  ul
    list-style: none

    li
      margin: 30px 0

      a
        text-decoration: none
        font-weight: bold
        font-size: 1.5rem
        transition: all 0.3s
        color: white

        &:hover
          margin-left: 20px




.header-home
  color: white
  width: 100%
  margin-top: 60px
  height: calc(100vh - 60px)
  position: relative
  background:
    image: url('../images/download2.png')
    attachment: fixed
    position: top right
    size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 1

  h1, h2
    text-align: center
    width: 100%
    max-width: 980px
    padding-left: 10px
    padding-right: 10px
    color: white

  h1
    font-family: 'Playfair Display'
    font-size: 3rem
    margin-top: -70px
    margin-left: -2000px 
    opacity: 0
    transition: all 1s ease-in-out

  h2
    margin-top: 50px
    font-size: 1rem
    font-weight: 300
    line-height: 25px
    letter-spacing: 1px

  .arrow-bounce
    background:
      image: url('../images/arrow-bounce.png')
      repeat: no-repeat
      position: center center
      size: contain
    width: 40px
    height: 40px
    background: 
    position: absolute
    bottom: 10px
    animation: bounce 2s infinite

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-30px)
  60% 
    transform: translateY(-15px)
  

.about-me
  color: $text-color
  text-align: center
  +center-content
  width: 100vw
  max-width: 980px
  margin: 0 auto
  padding-bottom: 100px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-left: 10px
  padding-right: 10px 
 
  h2
    font-size: 2.5rem
    margin-bottom: 50px
    padding-top: 100px
    color: $title-color

  p
    margin-bottom: 10px
    line-height: 25px
    color: $text-color

  a
    text-decoration: none
    margin-top: 50px
    padding: 10px 10px
    background-color: #43cea2
    border: 1px solid #fff
    color: white
    cursor: pointer
    font-weight: 600
    transition: background 0.3s
    border-radius: 3px

    &:hover
      background: $hover-color


.abilities
  background:
    color: #43cea2
  //background: linear-gradient(to bottom right, #3394EC, #2EDFCA)
  //background: linear-gradient(to bottom, #43cea2, #185a9d)
  background: linear-gradient(to bottom right, #43cea2, #00c9ff)
  padding: 80px 0 100px
  text-align: center
  color: white
  transform: skewY(-5deg)
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h2
    font-size: 2.5rem
    transform: skewY(5deg)

  .abilities-wrap
    margin-top: 30px
    width: 100%
    max-width: 980px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    transform: skewY(5deg)

    .abilities-wrap--item
      margin-top: 25px
      padding: 0 10px 10px
      border-bottom: 1px solid white
      border-left: 1px solid white
      text-align: left

      h3
        font-weight: bold

      ul
        list-style: none
  

.portfolio
  +center-content
  padding: 100px 0 100px
  text-align: center
  height: auto
  margin: 0 auto
  overflow: hidden

  h2
    color: #ED184C
    font-size: 2.5em
    margin-bottom: 80px

  a
    figure
      width: 100%

      img
        display: block


.contact
  background:
    image: url('../images/pretend-city-blue-geometric-background-1.jpg')
    position: top center
    attachment: fixed
  text-align: center
  color: white
  padding: 50px 0
  width: 100%

  h2
    font-size: 2.5rem
    margin-bottom: 50px 

  .wrap
    margin: 0 auto
    display: flex
    

    .form-contact
      width: 280px
      margin-right: 40px


      input, textarea, #sendEmail
        font-size: 0.8em
        width: 100%
        margin-bottom: 10px
        padding: 5px
        line-height: 20px
        border: 1px solid #ddd
      
      #sendEmail
        display: block
        background-color: $second-color
        border: none
        color: white
        font-weight: 600
        cursor: pointer
        transition: background-color 0.3s ease-in
        border-radius: 3px 

        &:hover
          background-color: #ED184C


    .contacts
      text-align: center
      color: white
      width: 300px
      margin-left: 40px

      a
        color: white
        text-decoration: none

      .social-media  
        padding-right: 15%
        padding-left: 15%
        margin-top: 10px

        a
          img
            width: 50px

@media screen and (max-width: 635px)
  html
    font-size: 14px

  .menu-lg
    display: none

  .menu-hamb
    display: flex

  .contact
    .wrap
      flex-direction: column
      align-items: center
      margin: 0 0

      .form-contact
        margin-right: 0

      .contacts
        text-align: center
        margin-left: 0
        margin-top: 30px
          

@media screen and (min-width: 636px)
  .menu-hamb
    display: none

  .portfolio
    a
      figure
        width: 50%
        float: left
      
  
  .contact
    .wrap
      flex-direction: row
      justify-content: center
