@import url('https://fonts.googleapis.com/css?family=Muli|Playfair+Display');
//Reset
*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: Muli, sans-serif
  font-size: 16px

img
  width: 100%

body
  min-width: 320px

//mixins
=center-content
  max-width: 980px
  padding-left: 10%
  padding-right: 10%

.menu
  width: 100vw
  height: 60px
  top: 0
  position: fixed
  background-color: #fff
  border-bottom: 3px solid #55bdb7

  .menu-fixed
    max-width: 980px
    height: 100%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    color: #014779

    .menu-logo
      margin-left: 10px
      font-size: 1.6em
      font-family: 'Playfair Display', serif
      font-weight: 650

    .menu-lg
      margin-right: 20px 
      ul
        list-style: none
        margin-top: 6px

        li
          display: inline
          margin-left: 12px
          padding: 5px 8px
          
          &:hover
            background-color: #ff2a6b
            
            a
              color: white
              font-weight: 600

          a
            font-family: 'Playfair Display', serif
            font-weight: 500
            text-decoration: none
            color: #014779


    .menu-hamb
      margin-right: 10px


.header-home
  color: white
  width: 100%
  margin-top: 60px
  height: calc(100vh - 60px)
  background:
    image: url('../images/Geometric-Background-1.jpg')
    attachment: fixed
    position: center top
  display: flex
  justify-content: center
  align-items: center

  h1
    text-align: center
    width: 100%
    max-width: 980px
    font-size: 2.5em
    padding-left: 20px
    padding-right: 20px 

.about-me
  color: #0071b5
  text-align: center
  +center-content
  width: 100vw
  max-width: 980px
  margin: 0 auto
  padding-bottom: 100px
 
  h2
    font-size: 2.5em
    margin-bottom: 50px
    padding-top: 100px

  p
    margin-bottom: 10px
    color: #014779

  button
    margin-top: 50px
    padding: 10px 15px
    background-color: #00aeea  
    border: 1px solid #fff
    color: white
    cursor: pointer
    font-weight: 600

    &:hover
      background: #ff2a6b


.habilities
  background:
    color: #0071b5
  padding: 50px 0
  border-top: 3px solid #55bdb7
  text-align: center
  color: white

  h2
    font-size: 2.5em
  
  h3
    font-size: 1.5em

  .wrap
    display: flex
    flex-direction: column

    div.left
      margin-bottom: 20px 
      margin-top: 10px
    
    div.right
      margin-top: 10px

.portfolio
  +center-content
  text-align: center
  padding: 50px 0
  color: #0071b5

  h2
    font-size: 2.5em


@media screen and (max-width: 320px)
  body

@media screen and (max-width: 635px)
  .menu-lg
    display: none


@media screen and (min-width: 636px)
  .menu-hamb
    display: none
    
  .habilities
    .wrap
      flex-direction: row
      flex-wrap: wrap
      justify-content: center

      div.left
        text-align: right
        margin-right: 40px 
        
        ul
          list-style: none
      
      div.right
        text-align: left
        margin-left: 40px

        ul
          list-style: none

@media screen and (min-width: 321px) and (max-width: 760px)
  body

@media screen and (min-width: 761px)
  body
