@import url("https://fonts.googleapis.com/css?family=Muli|Playfair+Display");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Muli, sans-serif;
  font-size: 16px; }

img {
  width: 100%; }

body {
  min-width: 320px; }

.menu {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: 3px solid #00aeea;
  z-index: 999; }
  .menu .menu-fixed {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #014779; }
    .menu .menu-fixed .menu-logo {
      margin-left: 10px;
      font-size: 1.8em;
      font-family: 'Playfair Display', serif;
      font-weight: bold; }
    .menu .menu-fixed .menu-lg {
      margin-right: 20px; }
      .menu .menu-fixed .menu-lg ul {
        list-style: none;
        margin-top: 0px; }
        .menu .menu-fixed .menu-lg ul li {
          display: inline-block;
          padding: 10px 8px;
          -webkit-transform: skewx(-20deg);
                  transform: skewx(-20deg);
          background-color: #00aeea;
          transition: background-color 0.2s ease-out; }
          .menu .menu-fixed .menu-lg ul li:hover {
            background-color: #ff2a6b; }
            .menu .menu-fixed .menu-lg ul li:hover a {
              font-weight: 600; }
          .menu .menu-fixed .menu-lg ul li a {
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            text-decoration: none;
            color: white;
            -webkit-transform: skewX(20deg);
                    transform: skewX(20deg);
            display: block; }
    .menu .menu-fixed .menu-hamb {
      margin-right: 10px; }

.header-home {
  color: white;
  width: 100%;
  margin-top: 60px;
  height: calc(100vh - 60px);
  position: relative;
  background-image: url("../images/download.png");
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1; }
  .header-home h1 {
    text-align: center;
    width: 100%;
    max-width: 980px;
    font-size: 2.5em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -70px;
    margin-left: -2000px;
    color: white;
    opacity: 0;
    transition: all 1s ease-in-out; }
  .header-home .arrow-bounce {
    background-image: url("../images/arrow-bounce.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

.about-me {
  color: #0071b5;
  text-align: center;
  max-width: 980px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
  height: 100vh;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 100px; }
  .about-me h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
    padding-top: 100px; }
  .about-me p {
    margin-bottom: 10px;
    color: #014779; }
  .about-me button {
    margin-top: 50px;
    padding: 10px 15px;
    background-color: #00aeea;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
    font-weight: 600; }
    .about-me button:hover {
      background: #ff2a6b; }

.habilities {
  background-color: #2c3e50;
  background: linear-gradient(to bottom right, #3394EC, #2EDFCA);
  padding: 50px 0;
  text-align: center;
  color: white;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  height: 100vh; }
  .habilities h2 {
    font-size: 2.5em; }
  .habilities h3 {
    font-size: 1.5em; }
  .habilities h2, .habilities .wrap {
    -webkit-transform: skewY(5deg);
            transform: skewY(5deg); }
  .habilities .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .habilities .wrap div.left {
      margin-bottom: 20px;
      margin-top: 10px; }
    .habilities .wrap div.right {
      margin-top: 10px; }

.portfolio {
  max-width: 980px;
  padding-left: 10%;
  padding-right: 10%;
  padding: 50px 0;
  color: #0071b5;
  margin: 0 auto;
  text-align: center;
  height: auto;
  overflow: hidden; }
  .portfolio h2 {
    font-size: 2.5em;
    margin-bottom: 50px; }
  .portfolio a figure {
    width: 100%; }
    .portfolio a figure img {
      display: block; }

.contact {
  background-image: url("../images/pretend-city-blue-geometric-background-1.jpg");
  background-position: top center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 50px 0;
  width: 100%; }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 50px; }
  .contact .wrap {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact .wrap .form-contact {
      width: 280px;
      margin-right: 40px; }
      .contact .wrap .form-contact input, .contact .wrap .form-contact textarea {
        font-size: 0.8em;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        line-height: 20px;
        border: 1px solid #ddd; }
      .contact .wrap .form-contact input[type=submit] {
        background-color: #ff2a6b;
        border: none;
        color: white;
        font-weight: 600; }
    .contact .wrap .contacts {
      text-align: center;
      color: white;
      width: 300px;
      margin-left: 40px; }
      .contact .wrap .contacts a {
        color: white;
        text-decoration: none; }
      .contact .wrap .contacts .social-media {
        margin-top: 10px; }
        .contact .wrap .contacts .social-media a img {
          width: 50px; }

@media screen and (max-width: 635px) {
  .menu-lg {
    display: none; }
  .contact .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0; }
    .contact .wrap .form-contact {
      margin-right: 0; }
    .contact .wrap .contacts {
      text-align: center;
      margin-left: 0;
      margin-top: 30px; } }

@media screen and (min-width: 636px) {
  .menu-hamb {
    display: none; }
  .header-home {
    padding-left: 15%;
    padding-right: 15%; }
  .habilities .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .habilities .wrap div.left {
      text-align: right;
      margin-right: 40px; }
      .habilities .wrap div.left ul {
        list-style: none; }
    .habilities .wrap div.right {
      text-align: left;
      margin-left: 40px; }
      .habilities .wrap div.right ul {
        list-style: none; }
  .portfolio a figure {
    width: 50%;
    float: left; }
  .contact .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
